{% if recipe_list %}
    <ul>
    {% for recipe in recipe_list %}
        <a href={% url 'single_recipe' recipe.id %}>
        <h3>{{ recipe.title }}</h3>
        By {{ recipe.author.username }}
        <p>{{ recipe.time_to_make }}</p></a>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No recipes are available.</p>
{% endif %}