<h1>{{recipe.title}}</h1>
<h4>By {{recipe.author.username}}</h3>
{% if recipe.ingredients.count > 0 %}
    <h4>Ingredients</h3>
    {% for ingredient in recipe.ingredients.all %}
        <li>
            {% if user.is_authenticated %}
                {% if ingredient.name in user.profile.allergen_names %}
                    <strong>ALLERGEN ALERT </strong>
                {% endif %}
            {% endif %}
            {{ingredient.name}} - {{ingredient.quantity}}
        </li>
    {% endfor %}
{% endif %}
<p>Duration: {{recipe.time_to_make}}</p>
<h4>Directions:</h3>
<p>{{recipe.directions}}</p>